<h2 class="color-gray">To-do's</h2>

    <div class="list-items">
      <%= render partial: 'items/item', collection: @items, locals: {user: @user} %>
    </div>
    <div class="new-item">
      <%= render partial: 'items/form', locals: {user: @user, item: @new_item} %>
    </div>

<h2 class="color-gray">User Info</h2>

    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @user.name%></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dt>
    </dl>


