<h2 class="color-gray">What is Blocitoff?</h2>
  <p>A to-do list app with self-destructing tasks. Most to-do list apps gather old, outdated tasks, until performing housekeeping on your to-do list eats up all the time you're supposed to be saving! Blocitoff doesn't let the bloat get the upper hand.  After 7 days, a task that hasn't been marked complete will self-destruct, doing the housekeeping for you.</p>
<h2 class="color-gray">Using Blocitoff is simple:</h2>
  <ul>
    <li><%= link_to "Sign up", new_user_registration_path %> for a free account.</li>
    <li>Create a task on your to-do list.</li>
    <li>Once you're done with task, mark it complete.</li>
    <li>If you don't finish your task within 7 days, Blocitoff will automatically drop the task for you. That way you won't be bogged down with outdated tasks.</li>
  </ul>

