
<%= content_tag :div, id: "item-#{item.id}" do %>
<h4><%= link_to "", [user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %> <%= item.name %><small>, <%= item.days_left %> days left.</small></h4>
<% end %>