
<%= content_tag :div, id: "item-#{item.id}" do %>
<h4><%= link_to "", [user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %> <%= item.name %><small>, created <%= time_ago_in_words(item.created_at) %> ago.</small></h4>
<% end %>